<nav  class="sidebar-offcanvas sidebar">
  <ul style="position:fixed;" class="nav">
    <li class="nav-item nav-profile border-bottom">
      <a href="#" class="nav-link flex-column">
        <div class="nav-profile-image">
          <img src="assets/images/faces/face1.jpg" alt="profile" />
          <!--change to offline or busy as needed-->
        </div>
        <div class="nav-profile-text d-flex ml-0 mb-3 flex-column"  >
          <span class="font-weight-semibold mb-1 mt-2 text-center">{{Userid}}</span>
          <span class="text-secondary icon-sm text-center"></span>
        </div>
      </a>
    </li>
    <li class="nav-item pt-3">
      <a class="nav-link d-block" href="index.html">
        <img class="sidebar-brand-logo" src="assets/images/logo.gif" alt="" />
        <img class="sidebar-brand-logomini" src="assets/images/logo-mini.png" alt="" />
        <div class="small font-weight-light pt-1">OSS Dashboard</div>
      </a>
      <!-- <form class="d-flex align-items-center" action="#">
        <div class="input-group">
          <div class="input-group-prepend">
            <i class="input-group-text border-0 mdi mdi-magnify"></i>
          </div>
          <input type="text" class="form-control border-0" placeholder="Search" />
        </div>
      </form> -->
    </li>
    <li class="pt-2 pb-1">

    </li>
    <li class="nav-item" [routerLinkActive]="'active'">
      <a class="nav-link" [routerLink]="['Home']">
        <i class="mdi mdi-home menu-icon"></i>
        <span class="menu-title">Home</span>
      </a>
    </li>

    <li class="nav-item" [routerLinkActive]="'active'">

      <a class="nav-link" [routerLink]="['AllDatasets']" >
        <i class="mdi mdi-database-search menu-icon"></i>
        <span class="menu-title">Datasets</span>
      </a>
    </li>



    <!-- <li class="nav-item" [routerLinkActive]="'active'">

      <a class="nav-link" [routerLink]="['GcommsHome/Gcomms']" >
        <i class="mdi mdi-database-search menu-icon"></i>
        <span class="menu-title">Gcomms</span>
      </a>
    </li> -->


    <!-- <li class="nav-item" [routerLinkActive]="'active'">

      <a class="nav-link" [routerLink]="['NeXToolHome/NeXTool']" >
        <i class="mdi mdi-database-search menu-icon"></i>
        <span class="menu-title">NExTool</span>
      </a>
    </li> -->



    <!-- <ul class="nav">
      <li class="has-sub">
        <a href="#">
          <b class="caret"></b>
          <i class="fa fa-th-large"></i>
          <span>Dashboard</span>
        </a>
        <ul class="sub-menu active">
          <li><a href="#">Dashboard v1</a></li>
          <li><a href="#">Dashboard v2</a></li>
        </ul>
      </li>
    </ul> -->


  </ul>
</nav>
