
<div class="row">

  <div class="col-md-7">
    <br><br>
    <div class="container">
      <div class="card mt-2">

        <div class="card-body">

          <h4 class="card-title">Bar Chart</h4>
          <canvas
            baseChart
            [data]="salesdata"
            [type]="'bar'"
            [options]="chartOptions"
          >
          </canvas>
        </div>

      </div>
    </div>

  </div>

  <div class="col-md-1"></div>

  <div class="col-md-4">


<br><br>

   <!-- <div class="row  flex-column align-items-middle">
    <div  class="col-md-12">
      <br><br>
      <a href="AllDatasets" class="card card-1">
        <h3 >In Progress</h3>
        <p>Datasets Information</p>
      </a>
    </div>
    &nbsp;   &nbsp;
  <br>
    <div class="col-md-12">
      <a href="AllDatasets" class="card card-2">
        <h3>Received</h3>
        <p>Datasets Information</p>
      </a>
    </div>
    &nbsp;
    <br>
    <div class="col-md-12">
      <a href="AllDatasets" class="card card-3">
        <h3>Completed</h3>
        <p>Datasets Information</p>
      </a>
    </div>
    &nbsp;
    <br>
    <div class="col-md-12">
      <a href="AllDatasets" class="card card-4">
        <h3>On Hold</h3>
        <p>Datasets Information</p>
      </a>
    </div>
  </div> -->



 <!-- <ngx-charts-pie-chart
 [results]="saleData"
 [legend]="true"
 [legendTitle]="'Product Sale Report'"
 [view]="[1000,300]"
 [labels]="true" >
</ngx-charts-pie-chart> -->

 <div class="container">
  <div class="card mt-8">

<div class="pieChart">


      <apx-chart
      [series]="chartSeries"
      [chart]="chartDetails"
      [title]="chartTitle"
      [dataLabels]="chartDataLabels"
      [labels]="chartLabels"
     [legend]="responsiveChart"
    ></apx-chart>
  </div>


  </div>
</div>
  </div>
</div>

